Build started...
Build succeeded.
START TRANSACTION;

ALTER TABLE usuario ALTER COLUMN senha TYPE character varying(255);

ALTER TABLE usuario ADD refresh_token text;

ALTER TABLE usuario ADD refresh_token_expiration timestamp with time zone;

ALTER TABLE parcela_lancamento ADD id_fatura_cartao_credito bigint;

ALTER TABLE cartao_credito ADD id_carteira bigint;

CREATE INDEX ix_parcela_lancamento_id_fatura_cartao_credito ON parcela_lancamento (id_fatura_cartao_credito);

CREATE INDEX ix_cartao_credito_id_carteira ON cartao_credito (id_carteira);

ALTER TABLE cartao_credito ADD CONSTRAINT fk_cartao_credito_carteira_id_carteira FOREIGN KEY (id_carteira) REFERENCES carteira (id_carteira);

ALTER TABLE parcela_lancamento ADD CONSTRAINT fk_parcela_lancamento_fatura_cartao_credito_id_fatura_cartao_c FOREIGN KEY (id_fatura_cartao_credito) REFERENCES fatura_cartao_credito (id_fatura_cartao_credito);

INSERT INTO "__EFMigrationsHistory" (migration_id, product_version)
VALUES ('20260217181528_AddCreditCardInvoices', '8.0.2');

COMMIT;


